# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [16]:
# here is a Python list:
a = [1, 2, 3, 4, 5, 6]

In [17]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
b = a[3:]

In [18]:
# create a list of numbers from 1 to 20
a = list(range(1, 21))

In [19]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
a = list(range(2, 101, 2))

In [20]:
    # write a function that takes two numbers as arguments
    # and returns the first number divided by the second
def divide(first, second): 
        return float(first)/second

In [21]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
def fizzbuzz():
    for num in range(1, 31):
        if num % 3 == 0 and num % 5 == 0:
            print("fizzbuzz")
        elif num % 3 == 0:
            print("fizz")
        elif num % 5 == 0:
            print("buzz")
        else:
            print(num)

In [22]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menu = {
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10
}

In [23]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("./starbucks.csv")

In [24]:
# select all rows with more than and including 400 calories
high_cal = df[df['calories'] >= 400]

In [25]:
# select all rows whose vitamin c content is higher than the iron content
high_vitaminc = df[df['vitamin c'] > df['iron']]

In [26]:
# create a new column containing the caffeine per calories of each drink
df['caffeine_per_calorie'] = df['caffeine'] / df['calories']

In [27]:
# what is the average calorie across all items?
average_calories = df['calories'].mean()
print(f"Average calories across all items: {average_calories}")

Average calories across all items: 193.87190082644628

In [28]:
# how many different categories of beverages are there?
num_categories = df['beverage_category'].nunique()
print(f"Number of different beverage categories: {num_categories}")

Number of different beverage categories: 9

In [29]:
# what is the average # calories for each beverage category?
avg_cal_per_category = df.groupby('beverage_category')['calories'].mean()
print(f"Average number of calories for each beverage category: {avg_cal_per_category}")

Average number of calories for each beverage category: beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64